.genre{
    background-color: #f1f1f1;
    height: 170px;
border-radius: 10px;
}
.imgs{
    /* opacity: 0.25; */
    padding: 10px;
    padding-left: 22px;
    height:150px;
    width:220px;
    border-radius: 25px;
}
.igspa{
    height: 25px;
    color: white;
}
.challenges{
    background-color: #f1f1f1;
    border-radius: 10px;
    height:260px;
}
.men{
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 330px;
height: 370px;
margin-left: 30px;
margin-bottom: 30px;
}
.imgu{
    margin-left: 25px;
border-radius: 7px;
margin-top: 30px;
height: 170px;
width: 277px;
}
.naam{
    font-size: 175%;
position: relative;
left: 113px;
top: -8px;
}
.bokred{
    font-size: 121%;
position: relative;
left: 42px;
top: -16px;
color: #424040;
}
.flex1{
    display:flex;
    flex-flow:wrap row;
}